pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.2
joblib==1.2.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.0
seaborn
plotly==5.10.0
streamlit==1.12.2
streamlit-option-menu==0.3.2
jupyter_dash
dash

